<div class="jumbotron" 
  hm-tap="handleGesture"
  hm-press="handleGesture"
  hm-pinch-start="handleGesture"
  hm-pinchmove="handleGesture"
  hm-pinchend="handleGesture"
  hm-pinchcancel="handleGesture"
  hm-pinchin="handleGesture"
  hm-pinchout="handleGesture"
  hm-panstart="handleGesture"
  hm-panmove="handleGesture"
  hm-panend="handleGesture"
  hm-pancancel="handleGesture"
  hm-panleft="handleGesture"
  hm-panright="handleGesture"
  hm-panup="handleGesture"
  hm-pandown="handleGesture"
   >
  <h1>Testing multiple gestures</h1>
  <p class="lead">
    Just play around with pinch, pan, tap and press and see the gesture type in the log.
    <img src="images/ar-dronebw.png" alt="I'm Yeoman"><br>
  </p>
</div>

<div class="row marketing">

  <p id="gesture-type">{{type}}</p>
  <textarea disabled placeholder="Streaming and UDP logs" />
  </textarea>
</div>
