<div class="jumbotron" 
  hm-tap="handleGesture"
  hm-press="handleGesture"
  hm-pinch-start="handleGesture"
  hm-pinchmove="handleGesture"
  hm-pinchend="handleGesture"
  hm-pinchcancel="handleGesture"
  hm-pinchin="handleGesture"
  hm-pinchout="handleGesture"
  hm-panstart="handleGesture"
  hm-panmove="handleGesture"
  hm-panend="handleGesture"
  hm-pancancel="handleGesture"
  hm-panleft="handleGesture"
  hm-panright="handleGesture"
  hm-panup="handleGesture"
  hm-pandown="handleGesture"
   >
  <h3>Testing multiple gestures</h3>
  <div class="lead">
    <p> 
      Try pinch, pan, tap and press to see the gesture type in the log, use the switch to connect to the camera specified in the IP address field.
    </p>
    <img id="shoot-image" src="images/ar-dronebw.png" alt="I'm Yeoman">
    <div class="livePixel"></div>
  <br>
  </div>
</div>
<div class="row marketing">
  <p>Camera ip:</p>
  <input type="text" value="{{ipAddress}}">
  <p id="gesture-type">Detected <strong>{{type}} </strong> gesture.</p>
  <textarea disabled placeholder="Streaming and UDP logs" />
  </textarea>
</div>
